@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
  
*,::before,::after{ margin: 0; box-sizing: border-box; }   
a{text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}

@font-face {
    font-family:myriyad ;
    src: url(../font/MYRIADPROREGULAR.OTF);
font-display: swap;
}
@font-face {
    font-family:NexaBold ;
    src: url(../font/NexaBold.otf);
    font-display: swap;
}


html{
    font-size:15px;
    --fl: "Lato", sans-serif;
   --ff:"Montserrat",sans-serif;
   --fo:"opensans",sans-serif;
   --fm:myriad,sans-serif;
   --fn:NexaBold,sans-serif;
    scroll-behavior: smooth;
}


body{
    font: 16px var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.container-full{
    max-width: 100%;
    padding: 0 1rem;
}


.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-12{ flex-basis: 100%; max-width: 100%;}
.flex{ display: flex;}
.align-center{ align-items: center;}
.justify-space-bet{ justify-content: space-between;}
.justify-center{ justify-content: center;}
.justify-right{ justify-content: right;}

.justify-around{justify-content: space-around;}
.text-center{text-align: center;}

.align-end{align-items: flex-end;}



.wrap-1{padding: 30px 0;  background-color: #fff; color:#6a6a6a ; position: sticky;} 



 .wrap-1 .circle{width: 50px; height: 50px; border-radius: 50%; background-color: #1a9bdc;color: #fff;  display: grid; place-items: center;
  flex-shrink: 0; margin-right: 1rem; }
 .wrap-1 small{display: block; font-family:var(--fo) ; font-size: 13px;}
 .wrap-1 b{font-family:var(--fo) ; font-weight: bold; font-size: 15px; }

  .contact .flex{ white-space: nowrap; } 
.contact span{color: #fff; font-size: 2rem; } 

.wrap-2{padding:33px 0; background-color: #fff; color: #6a6a6a ;}

.wrap-2  nav a{color: #6a6a6a; padding: 0 10px; margin: 0 5px; font-size: 20px;white-space: nowrap; font-family: var(--fn);}
.wrap-2 .active{color: #000;}
.social span {color: #000; margin-right: 27px; font-size: 24px;}

.menu{width: 90px;
height: 25px;
border: 2px solid rgb(105, 159, 222);
position: absolute;
right: 17px;
top: 34px;
border-radius: 10px;
display: none;

}
.menu span{height: 2px; margin: 4px 10px; display: block; background-color:rgb(105, 159, 222);}

.wrap-3{background: url(../img/doctor-banner.webp) no-repeat center top/cover; padding: 182px 0; color: #000; position: relative; }

 .wrap-3 h1{color: inherit; font-size: 48px; font-weight: 500;}

.wrap-3 p{color: #000; font-size: 17px; margin: 35px 0 40px 0; padding-left: 53px; line-height: 2rem; font-family: var(--fo); font-weight: 400;}

.wrap-3 .plane{text-align: center; }

.read-more {width: 165px; height: 47px; border: 2px solid; background-color: #1a9bdc; border: none;  border-radius: 30px;
    display: grid; place-items: center; display:inline-grid;
  
}

.read-more a{color: #fff;  font-size: 19px; font-family: var(--fl);  }

.image{max-width: 100%; height: auto;}

.wrap-3 img{position: absolute; bottom: 74px; left: 51%;}

 .wrap-4{  color: #fff; text-align: center; }

 
 .wrap-4 .col-3{ padding: 34px 1rem 54px ;}
 .wrap-4 .col-3:nth-child(1){ background: #43b1d2;}
 .wrap-4 .col-3:nth-child(2){ background: #3fb6c6;}
 .wrap-4 .col-3:nth-child(3){ background: #3cbbbb;}
 .wrap-4 .col-3:nth-child(4){ background: #37c3a8;}
 .service{ padding: 0 55px;}

 

.wrap-4 .circle{width: 50px; height: 50px; border-radius: 50%; background-color: #fff;color: #000; flex-shrink: 0; display: grid; place-items: center; transform: translateX(150%); }
 .service{margin-top: 40px;} 

.wrap-4  span{font-size:25px;}

.wrap-4 h3{font-size: 20px; margin: 25px 0 15px 0; white-space: nowrap; font-family: var(--ff); font-weight: 700;}
.p{font-size: 16px; font-weight: 400; line-height: 2rem;  font-family: var(--fo);}

.wrap-5{padding: 100px 0 0 0;  color: #000; background-color: #fff;}
  

 section h2{font-size: 45px; font-weight: 700; margin-bottom: 23px; font-family: var(--ff);}
.wrap-5 .circle {width: 75px; height: 75px; border-radius: 50%; background-color: #1a9bdc;color: #fff; display: grid; place-items: center;
    
    flex-shrink: 0;
    
    
    margin-right: 20px;
 }
 .wrap-5 .circle span{font-size: 40px; }
 .wrap-5 h3{transform: translateY(20px); font-size: 30px; font-weight: 700; font-family: var(--ff);}


 .professional-about{margin: 80px 0;} 

.wrap-6{padding: 150px 0 107px 0; background-color: rgb(0, 130, 187,.8); position: relative;  color: #fff;}

   .wrap-6::before{ content: ""; background: url(../img/docter.webp) no-repeat center top/cover; position: absolute; inset: 0; z-index:-1;} 

   .wrap-6 span{font-size: 48px;}

   .wrap-6 p{font-size: 4rem; font-weight: 400; margin: 43px 0 0 0 }

   .wrap-6 b{font-size: 25px; white-space: nowrap;}

   .border{width: 84px; height: 6px; background-color: #fff; margin: 22px auto 28px; }


   .object{margin-bottom: 50px ; }

   .wrap-7{padding:  100px 0;}
  
   .work-image{margin: 30px 0;}
   .work b{display: block; margin: 30px 0 13px 0; font-size: 20px; font-weight: 500; font-family: var(--ff);}
   .work span{color: #1a9bdc; margin-bottom:2rem; font-size: 15px; font-weight: 500;  font-family: var(--ff);}

   .treatment{margin-top: 50px;}
   .treatment  li a{width: 424px; height: 54px; background-color: #e2e2e2; border-radius: 30px; color: #000;
padding: 15px 145px 15px 50px; position: relative; white-space: nowrap; font-family: var(--ff); font-weight: 500;}
.treatment ul li {margin-top: 40px;}

.treatment li a::before{content: "\25B6"; position: absolute; left: 4px; width: 40px; height: 40px; border-radius: 50%; background-color: #fff; color: #1a9bdc;  top:4px;display: grid;place-items: center; }

.treatment .active {background-color: #1a9bdc;}
.treatment li p{margin-top: 2rem;}
 .treatment li:not(:first-child) p{display: none;} 

 .wrap-8{padding: 92px 0; background-color:rgb(44, 176, 152,.8) ; color: #fff; position: relative;}
 .wrap-8::before{content: ""; position: absolute; inset: 0; z-index: -1; background: url(../img/gallery-photo.webp) no-repeat center top/cover;}
  
 .wrap-8 p{margin-bottom: 20px; font-size: 16px; line-height: 2rem; font-weight: 400; font-family: var(--fo);}
 

 .gallery-photo img{ margin-top: 2rem;}

 .wrap-9{padding: 147px 0 133px 0; background-color: #fff;}

 .wrap-9 p{margin-bottom: 45px; font-size: 16px; line-height: 2rem; font-weight: 400; font-family: var(--fo);}

 .wrap-9 .circle img{width:100%; height: auto; border-radius: 50%; background-color: #fff; 
margin-top: 40px;}

.wrap-9 h4{font-size: 25px; font-weight: 500; font-family: var(--ff);}
.wrap-9 small{font-size: 18px; font-weight: 500;  font-family: var(--ff); margin-top: 15px;}

.wrap-9 ul{ margin-top: 2rem; }
.wrap-9 a span{display: inline-block; color: #1a9bdc; font-size: 25px; margin-right: 1rem;}

.wrap-10{padding: 77px 0 66px 0; background-color: #e2e2e2; color: #494949;}

.wrap-10 h4{font-size: 2rem; font-weight: 700; color: inherit; white-space: nowrap; font-family: var(--ff);}


.footer-top{padding: 90px 0 106px 0; background-color: #171717;  }

.wrap-11 h4{color: #fff; font:700  22px var(--fo); margin:13px 0 50px 0}

.wrap-11 a{color: #8d8d8d; font: 400 16px/25px var(--fo); display: inline-block;}

.get span{margin-right:2rem ; display: inline-block; font-size: 2rem; color: #8d8d8d; vertical-align: middle; transform: translateY(15%);}
.contact-footer{margin-bottom: 2rem;}
:is(.links a,.our-services a){margin-bottom: 10px;} 

:is(.links a,.our-services a)::before{content: "\25B6"; margin-right: 10px; color: #1a9bdc; font-size: 10px; }

.social-small span {color: #fff; margin: 45px 0 0  24px; font-size: 24px;}

.footer-bottom{background-color: #1a1a1a; padding: 46px 0 39px 0;}

.copyright{text-align: center; }

.copyright small{color: #473f3f;  font: 400 13px var(--fo); }

.btn{width: 127px; height: 35px; border: 2px solid; background-color: #1a9bdc;  border: none; border-radius: 30px;
    display: grid;place-items: center; color: #fff;  font-size: 13px; font-family: var(--fl);

    margin-top: 20px;
}


.wrap-11 label{color: #8d8d8d; font: 400 16px var(--fo); margin-bottom: 10px;}

 :is(.wrap-11 input ,.wrap-11 textarea)  {border: none; background: none; border-bottom: 1px solid #8d8d8d; resize: none; color: #fff;}

 :is(.wrap-11 input ,.wrap-11 textarea):focus{outline: none;}
/* responsive */

@media screen and (max-width:1220px) {html{font-size: 13px;}

.wrap-6 b{font-size: 20px;}
    
}


@media screen and (max-width:980px) {
   
     .wrap-1 b{font-size: 10px;}  
   .wrap-1 small{font-size: 10px;}

    .wrap-2 span { margin-right: 12px;}
    
.wrap-2  nav a{ padding: 0 3px; margin: 0 3px;}

 .wrap-1 .circle{margin-right: 0;}


 .col-t-6{flex-basis: 50%; max-width: 50%;}
  .col-t-12{flex-basis: 100%; max-width: 100%;} 

  .creative{margin-top: 4rem;}

  .wrap-10 h4{font-size: 18px;}

  .wrap-5 h3{font-size: 19px;}

  .border{margin-left: 134px;}
}

@media screen and (max-width:767px) {html{font-size: 12px;}
nav ul li{display: none;}
 .menu{display:inline-block;} 

  .social{display: none;} 

 .wrap-3 p{padding-left: 0; margin-bottom: 38px; text-align: left; }

 .wrap-3 h1{font-size: 24px;}

  .wrap-3 img{bottom: 52px;}

 .wrap-3{padding: 107px 0;} 
 .work .flex{flex-flow: column;}

 .col-m-6{flex-basis: 50%; max-width: 50%;}
 .wrap-10 h4{font-size: 1rem; white-space: wrap;}
.col-m-12{flex-basis: 100%; max-width: 100%;}
.wrap-5 h3{font-size: 14px;}
.wrap-5 p{font-size: 13px;}

.col-m-4{flex-basis: 33.33%; max-width: 33.33%;}

 .contact .flex{margin-top: 15px; } 
.wrap-2{padding: 2px;}

}


@media screen and (max-width:460px) {
     .col-p-12{flex-basis: 100%; max-width: 100%;}
   
     .wrap-1 .circle{display: none;}
   .wrap-3 h2{font-size: 30px;}

    .wrap-3{padding-top: 30px;}

    .col-p-6{flex-basis: 50%; max-width: 50%;}

    .col-p-9{flex-basis: 75%; max-width: 75%;}

    .wrap-1 .circle{margin-left: -34px;}  

    .align-end div:nth-child(2){order: -1;}

    .professional-about{margin-top: 20px;}

    .data{display: flex; flex-flow: row wrap; gap: 3px;}  
}